@model IEnumerable<Weather.WeatherData>
@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    <!--
    body {
        margin: 15px;
        text-align: center;
    }
    -->
</style>

<div class="col-md-2"></div>
<div class="col-md-8">
    @if (ViewBag.Umbrella)
    {
        <img src="~/Content/@ViewBag.FileName" class="img-responsive center-block"><br>
        <p>photo by <a href="@ViewBag.Link">@ViewBag.Author</a></p>
    }
    else
    {
        <img src="~/Content/Fine.jpg" class="img-responsive center-block"><br>
        <p>photo by <a href="https://www.flickr.com/photos/80592618@N06/15329072067/in/set-72157648275468900/">Greg Tsai</a></p>
    }
    <h2>@ViewBag.City</h2>
    <p>Umbrella Fortune Telling</p>
    <h3> @ViewBag.Percent </h3>
</div>
<div class="col-md-2">
    <table class="table table-sm table-striped">
        @foreach (var item in Model)
        {
            var className = item.Weather.ToUpper().Contains("RAIN") ? "info" : "warning";
            <tr class=@className>
                <td>
                    @item.Date.ToString("g")
                    <img src=@item.Icon>
                </td>
            </tr>
        }
    </table>
</div>

